:root {
  --color-fg-high: hsla(0, 0%, 0%, 0.87);
  --color-fg-medium: hsla(0, 0%, 0%, 0.6);
  --color-fg-thin: hsla(0, 0%, 0%, 0.1);
  --color-bg: hsl(0, 0%, 100%);
  --color-primary: hsl(210, 80%, 27%);
  --color-primary-muted: hsl(210, 80%, 27%, 0.3);
  --color-secondary-1: hsl(330, 80%, 27%);
  --color-secondary-2: hsl(90, 80%, 27%);
  --font-size-h1: 1.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1rem;
  --font-size-body: 1rem;
  --font-size-caption: 0.875rem;
  --line-height-h1: calc(2 / 1.5);
  --line-height-h2: calc(2.5 / 2);
  --line-height-h3: 2;
  --line-height-body: 2;
}

html {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  line-height: var(--line-height-body);
  font-kerning: none;
  overflow-wrap: break-word;
  text-underline-position: under;
}

body {
  max-width: 32rem;
  margin: 0 auto 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: var(--font-size-body);
  color: var(--color-fg-high);
  background-color: var(--color-bg);
}

@media (min-width: 48em) {
  body {
    padding-right: calc(4rem + 8rem + 2rem);
    padding-left: 2rem;
  }
}

h1 {
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: normal;
}

h2 {
  margin-top: 8rem;
  margin-bottom: 0;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: normal;
  color: var(--color-fg-medium);
}

h3 {
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: 2rem;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

p {
  margin-top: 2rem;
  margin-bottom: 0;
  hanging-punctuation: allow-end;
}

ul {
  margin-top: 2rem;
  margin-bottom: 0;
  padding-left: 1rem;
  list-style-type: none;
  hanging-punctuation: allow-end;
}

@media (min-width: 34em) {
  ul {
    padding-left: 2rem;
  }
}

li {
  margin-top: 0.5rem;
}

li::before {
  content: "\2022";
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

@media (min-width: 34em) {
  li::before {
    width: 1.25rem;
    margin-right: 0.75rem;
    margin-left: -2rem;
    text-align: right;
  }
}

dl {
  display: grid;
  grid-template-columns: [key] auto [value] 1fr;
  row-gap: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

dt {
  grid-column: key;
  min-width: 0;
}

dd {
  grid-column: value;
  min-width: 0;
  margin-left: 0;
}

a {
  padding-top: calc((var(--line-height-body) - 1.5) / 2 * 1em);
  padding-bottom: calc((var(--line-height-body) - 1.5) / 2 * 1em);
  color: var(--color-primary);
  text-decoration-color: var(--color-primary-muted);
}

a:active {
  background-color: var(--color-fg-thin);
}

img {
  vertical-align: bottom;
}

svg {
  --icon-height: 1.25rem;
  --icon-width: var(--icon-height);
  height: var(--icon-height);
  margin-top: calc((var(--line-height-body) * 1em - var(--icon-height)) / 2);
  margin-right: calc(2rem - var(--icon-width));
  margin-bottom: calc((var(--line-height-body) * 1em - var(--icon-height)) / 2);
  vertical-align: bottom;
  fill: currentcolor;
}

h1 small {
  font-size: var(--font-size-caption);
  color: var(--color-fg-medium);
}

h1 + p {
  width: calc(100% / 3);
  margin-left: auto;
  box-shadow: 0 0 0 1px var(--color-fg-thin);
}

@media (min-width: 48em) {
  h1 + p {
    float: right;
    width: 8rem;
    margin-top: calc(2rem + (var(--line-height-body) - 1) / 2 * 1em);
    margin-right: -12rem;
  }
}

h1 + p img {
  width: 100%;
}

h3 svg {
  margin-left: -2rem;
}

#interests svg {
  color: var(--color-secondary-1);
}

#projects svg {
  color: var(--color-secondary-2);
}

@media (min-width: 34em) {
  h3 ~ p {
    margin-left: 2rem;
  }
}

@media (min-width: 48em) {
  body > footer {
    margin-right: -12rem;
  }
}

body > footer ul {
  display: flex;
  margin-top: 8rem;
  padding-left: 0;
}

body > footer ul li {
  margin-top: 0;
}

body > footer ul li:first-child {
  flex-grow: 1;
}

@media (min-width: 48em) {
  body > footer ul li:first-child {
    max-width: 32rem;
  }
}

body > footer ul li + li {
  margin-left: 2rem;
}

@media (min-width: 48em) {
  body > footer ul li + li {
    margin-left: 4rem;
  }
}

body > footer ul li::before {
  content: normal;
}
