:root {
  --color-triad-1: hsl(210, 80%, 27%);
  --color-triad-2: hsl(330, 80%, 27%);
  --color-triad-3: hsl(90, 80%, 27%);
  --color-triad-achromatic: hsl(0, 0%, 27%);

  --color-fg-high: hsla(0, 0%, 0%, 0.87);
  --color-fg-medium: hsla(0, 0%, 0%, 0.6);
  --color-fg-thin: hsla(0, 0%, 0%, 0.1);
  --color-bg: hsl(0, 0%, 100%);
  --color-link: var(--color-triad-1);
  --color-link-visited: var(--color-triad-achromatic);
  --color-link-underline: hsla(0, 0%, 0%, 0.25);
  --color-interest: var(--color-triad-2);
  --color-project: var(--color-triad-3);

  --color-twitter: #1da1f2;
  --color-github: #171515;

  --font-size-root: 100%;
  --font-size-body: 1rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.5rem;

  --line-height-body: 2;
  --line-height-root: var(--line-height-body);
  --line-height-h1: calc(2 / 1.5);
  --line-height-h2: calc(2 / 1.25);
  --line-height-h3: calc(2 / 1.5);

  --grid-main: 32rem;
  --grid-gap: 2rem;
  --grid-outer: 1rem;

  --icon-imaginary-size: 3rem;
  --icon-size: 1.5em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-triad-1: hsl(210, 100%, 70%);
    --color-triad-2: hsl(330, 100%, 70%);
    --color-triad-3: hsl(90, 100%, 70%);
    --color-triad-achromatic: hsl(0, 0%, 70%);

    --color-fg-high: hsla(0, 0%, 100%, 0.87);
    --color-fg-medium: hsla(0, 0%, 100%, 0.6);
    --color-fg-thin: hsla(0, 0%, 100%, 0.1);
    --color-bg: hsl(206, 7%, 21%);
    --color-link-underline: hsla(0, 0%, 100%, 0.25);

    --color-github: #fff;
  }
}

/* (6 + ((8 + 4 + 8 + 4 + 8) + 4 + 8) + 6) + 1.5 */
@media (min-width: 57.5em) {
  :root {
    --font-size-h2: 1.5rem;
    --font-size-h3: 2rem;
    --line-height-h2: calc(2 / 1.5);
    --line-height-h3: calc(2.5 / 2);
    --grid-sub: 8rem;
    --grid-gap: 4rem;
    --grid-outer: 6rem;
  }
}

@media (min-width: 90em) {
  :root {
    --font-size-root: calc(0.125vw + 1rem);
  }
}

html {
  --rlh: calc(1rem * var(--line-height-root));
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  font-size: var(--font-size-root);
  line-height: var(--line-height-root);
  font-kerning: none;
  overflow-wrap: break-word;
}

body {
  --lh: calc(var(--font-size-body) * var(--line-height-body));
  max-width: var(--grid-main);
  margin: 0 auto calc(var(--rlh) * 2);
  padding-right: var(--grid-outer);
  padding-left: var(--grid-outer);
  color: var(--color-fg-high);
  background-color: var(--color-bg);
}

@media (min-width: 57.5em) {
  body {
    padding-right: calc(var(--grid-gap) + var(--grid-sub) + var(--grid-outer));
  }
}

h1 {
  --lh: calc(var(--font-size-h1) * var(--line-height-h1));
  margin-top: calc(var(--rlh) * 2);
  margin-bottom: 0;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: normal;
}

h2 {
  --lh: calc(var(--font-size-h2) * var(--line-height-h2));
  margin-top: calc(var(--rlh) * 2 * 2);
  margin-bottom: 0;
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: var(--color-fg-medium);
}

h3 {
  --lh: calc(var(--font-size-h3) * var(--line-height-h3));
  margin-top: calc(var(--rlh) * 2);
  margin-bottom: 0;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

@media (min-width: 57.5em) {
  h3 {
    margin-right: calc((var(--grid-gap) + var(--grid-sub)) * -1);
    padding-left: 0;
  }
}

h3 svg {
  display: none;
  margin-left: calc(var(--icon-imaginary-size) * -1);
}

@media (min-width: 57.5em) {
  h3 svg {
    --icon-imaginary-size: 4rem;
    --icon-size: 1em;
    display: inline;
  }
}

p {
  margin-top: var(--rlh);
  margin-bottom: 0;
  hanging-punctuation: allow-end;
}

ul {
  margin-top: var(--rlh);
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  hanging-punctuation: allow-end;
}

li {
  margin-top: calc(var(--rlh) / 2 / 2);
  padding-left: var(--icon-imaginary-size);
}

li svg {
  margin-left: calc(var(--icon-imaginary-size) * -1);
}

dl {
  display: grid;
  grid-template-columns: [key] auto [value] 1fr;
  row-gap: calc(var(--rlh) / 2 / 2);
  margin-top: var(--rlh);
  margin-bottom: 0;
}

dt {
  grid-column: key;
  min-width: 0;
}

dd {
  grid-column: value;
  min-width: 0;
  margin-left: 0;
}

figure {
  margin: var(--rlh) 0 0;
}

a {
  padding-top: calc((var(--lh) - 1.5em) / 2);
  padding-bottom: calc((var(--lh) - 1.5em) / 2);
  color: var(--color-link);
  text-decoration: none;
  background-image: linear-gradient(
    var(--color-link-underline),
    var(--color-link-underline)
  );
  background-repeat: no-repeat;
  background-position: center bottom calc((var(--lh) - 1.5em) / 2 - 1px);
  background-size: 100% 1px;
}

li a {
  position: relative;
}

li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: var(--icon-imaginary-size);
}

a:active {
  background-color: var(--color-fg-thin);
}

li a:active::before {
  background-color: var(--color-fg-thin);
}

a:visited {
  color: var(--color-link-visited);
}

a:visited svg {
  fill: var(--color-link-visited); /* workaroud for Safari */
}

img {
  vertical-align: bottom;
}

svg {
  height: var(--icon-size);
  margin-top: calc((var(--lh) - var(--icon-size)) / 2);
  margin-bottom: calc((var(--lh) - var(--icon-size)) / 2);
  padding-right: calc((var(--icon-imaginary-size) - var(--icon-size)) * 2 / 3);
  padding-left: calc((var(--icon-imaginary-size) - var(--icon-size)) / 3);
  vertical-align: bottom;
  fill: currentcolor;
}

h1 small {
  font-size: var(--font-size-body);
}

h1 small,
h1 ~ * {
  color: var(--color-fg-medium);
}

h1 + figure {
  width: calc(100% / 3);
  margin-left: auto;
  box-shadow: 0 0 0 1px var(--color-fg-thin);
}

@media (min-width: 57.5em) {
  h1 + figure {
    float: right;
    width: var(--grid-sub);
    margin-top: calc(var(--rlh) + (var(--lh) - 1em) / 2);
    margin-right: calc((var(--grid-gap) + var(--grid-sub)) * -1);
  }
}

h1 + figure img {
  width: 100%;
}

body > main > section > article::after {
  content: "";
  display: block;
  margin-top: calc(var(--rlh) * 2 * 2);
}

#interests h3 {
  color: var(--color-interest);
}

#projects h3 {
  color: var(--color-project);
}

h3 a:any-link {
  color: inherit;
  background-position: center bottom;
}

@media (min-width: 57.5em) {
  h3 ~ ul {
    margin-right: calc((var(--grid-gap) + var(--grid-sub)) * -1);
  }
}

@media (min-width: 57.5em) {
  body > footer {
    margin-right: calc((var(--grid-gap) + var(--grid-sub)) * -1);
  }
}

body > footer ul {
  display: flex;
  margin-top: calc(var(--rlh) * 2 * 2);
  padding-left: 0;
}

body > footer ul li {
  margin-top: 0;
}

body > footer ul li:first-child {
  flex-grow: 1;
}

@media (min-width: 57.5em) {
  body > footer ul li:first-child {
    max-width: var(--grid-main);
  }
}

body > footer ul li + li {
  margin-left: var(--grid-gap);
}
